.vscode/**
.vscode-test/**
out/**
!dist/**
src/**
node_modules/**
.gitignore
.lsifrc
tsconfig.json
**/*.map
**/*.ts
test-project/**
CONTRIBUTING.md
CONTRIBUTORS.md
marketing_copy.md
marketing_strategy.md
publishing_guide.md
task.md
implementation_plan.md
walkthrough.md
